NodeRed/flows.json
[
    {
        "id": "05ce4787fe5d83e8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a54f9cb56e2e46bb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "4158db786b55496d9d8e6a655d408e16.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "df0bf498d8d0f3ca",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "694f070a841fba01",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a232442e74cce007",
        "type": "ui_group",
        "name": "cảnh_báo_cháy",
        "tab": "df0bf498d8d0f3ca",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "99464a9aafd223e1",
        "type": "ui_group",
        "name": "Pump",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e61cd1cf40b1ed9",
        "type": "ui_spacer",
        "z": "05ce4787fe5d83e8",
        "name": "spacer",
        "group": "a232442e74cce007",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "571bc2f833cd7dd6",
        "type": "ui_spacer",
        "z": "05ce4787fe5d83e8",
        "name": "spacer",
        "group": "a232442e74cce007",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "7553d2bb31b781b5",
        "type": "ui_spacer",
        "z": "05ce4787fe5d83e8",
        "name": "spacer",
        "group": "a232442e74cce007",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "731487a1d5b509e2",
        "type": "ui_spacer",
        "z": "05ce4787fe5d83e8",
        "name": "spacer",
        "group": "a232442e74cce007",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "4ca147b9b9e67bbe",
        "type": "ui_spacer",
        "z": "05ce4787fe5d83e8",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "c35f3ae0a04f50b5",
        "type": "mqtt in",
        "z": "05ce4787fe5d83e8",
        "name": "HiveMQ",
        "topic": "flame-alarm-sensor",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a54f9cb56e2e46bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "bb6cee266521b4c3",
                "13cf73a135a94754",
                "90d2a61b89c372bc",
                "894dfcc8555154c3",
                "b0a0ef597a799a0a",
                "cb079cb9cf2d7dcc"
            ]
        ]
    },
    {
        "id": "bb6cee266521b4c3",
        "type": "function",
        "z": "05ce4787fe5d83e8",
        "name": "function 1",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "182fa70b141cb902"
            ]
        ]
    },
    {
        "id": "13cf73a135a94754",
        "type": "function",
        "z": "05ce4787fe5d83e8",
        "name": "function 2",
        "func": "if (typeof msg.payload === 'string') {\n    msg.payload = JSON.parse(msg.payload);\n}\n\nif (msg.payload.type === \"sensor\") {\n    let flame = msg.payload.flame;\n    if (flame === true) msg.payload = 1;\n    else msg.payload = 0;\n} else {\n    msg.payload = 0; // Hoặc return null nếu không muốn xử lý\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "4bd7af8cfd82e168"
            ]
        ]
    },
    {
        "id": "90d2a61b89c372bc",
        "type": "function",
        "z": "05ce4787fe5d83e8",
        "name": "function 3",
        "func": "msg.payload = msg.payload.mq2_adc;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "9816415752ff08fc"
            ]
        ]
    },
    {
        "id": "894dfcc8555154c3",
        "type": "function",
        "z": "05ce4787fe5d83e8",
        "name": "function 4",
        "func": "msg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 340,
        "wires": [
            [
                "9d512711cbd07abc"
            ]
        ]
    },
    {
        "id": "238d296c5b9a7af0",
        "type": "ui_gauge",
        "z": "05ce4787fe5d83e8",
        "name": "",
        "group": "a232442e74cce007",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "°C",
        "format": "{{value}} °C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "fb63486bc0e5996e",
        "type": "ui_gauge",
        "z": "05ce4787fe5d83e8",
        "name": "",
        "group": "a232442e74cce007",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Flame",
        "label": "0=No fire, 1=Fire",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "949450cb1b3ae3f4",
        "type": "ui_gauge",
        "z": "05ce4787fe5d83e8",
        "name": "",
        "group": "a232442e74cce007",
        "order": 9,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "MQ2 gas level",
        "label": "ADC",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "4bdb9b8e83fe61a6",
        "type": "ui_gauge",
        "z": "05ce4787fe5d83e8",
        "name": "",
        "group": "a232442e74cce007",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Độ ẩm ",
        "label": "%",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "b0a0ef597a799a0a",
        "type": "function",
        "z": "05ce4787fe5d83e8",
        "name": "function 5",
        "func": "var d = msg.payload;\n\n// Flame: rất nhiều module trả HIGH khi phát hiện lửa\nvar flameDetected = (d.flame !== 0);\n\n// MQ2 gas:\nvar mq2Alarm = d.mq2_adc >= 2800;\n\n// Nhiệt độ:\nvar tempAlarm = d.temp >= 60;\n\n// Tổng hợp alarm\nvar shouldAlarm = flameDetected || mq2Alarm || tempAlarm;\n\n// Debug thử\nnode.warn(\"flame=\" + d.flame + \"  detected=\" + flameDetected);\n\nif (shouldAlarm) {\n    msg.topic = \"🔥 FIRE ALERT !!!\";\n    msg.payload =\n        \"🔥 PHÁT HIỆN CHÁY!\\n\"\n        + \"- Ngọn lửa: \" + flameDetected + \"\\n\"\n        + \"- MQ2: \" + d.mq2_adc + \"\\n\"\n        + \"- Nhiệt độ: \" + d.temp + \"°C\\n\"\n        + \"- Độ ẩm: \" + d.hum + \"%\\n\"\n        + \"⚠ Hãy kiểm tra ngay lập tức!\";\n    return msg;\n}\n\n// Không gửi email nếu không có cháy\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 400,
        "wires": [
            [
                "3904e589ba43f6ad"
            ]
        ]
    },
    {
        "id": "3904e589ba43f6ad",
        "type": "e-mail",
        "z": "05ce4787fe5d83e8",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "tiennguyen.23052004@gmail.com",
        "dname": "Cảnh_báo_cháy",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "cb079cb9cf2d7dcc",
        "type": "debug",
        "z": "05ce4787fe5d83e8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "4bd7af8cfd82e168",
        "type": "ui_template",
        "z": "05ce4787fe5d83e8",
        "group": "a232442e74cce007",
        "name": "template2",
        "order": 8,
        "width": 3,
        "height": 3,
        "format": "<div id=\"flameIcon\" class=\"flame-normal\">\n    🔥\n</div>\n\n<style>\n    #flameIcon {\n        font-size: 60px;\n        text-align: center;\n        transition: 0.3s ease;\n    }\n\n    /* Normal */\n    .flame-normal {\n        color: grey;\n        text-shadow: none;\n    }\n\n    /* Warning - vàng */\n    .flame-warning {\n        color: orange;\n        text-shadow: 0 0 10px orange;\n    }\n\n    /* Fire - đỏ nhấp nháy */\n    @keyframes fireBlink {\n        0% {\n            color: red;\n            text-shadow: 0 0 20px red;\n        }\n\n        50% {\n            color: darkred;\n            text-shadow: 0 0 5px red;\n        }\n\n        100% {\n            color: red;\n            text-shadow: 0 0 20px red;\n        }\n    }\n\n    .flame-danger {\n        animation: fireBlink 0.8s infinite;\n    }\n</style>\n\n<script>\n    (function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n\n        let icon = document.getElementById(\"flameIcon\");\n\n        if (msg.payload === \"normal\") {\n            icon.className = \"flame-normal\";\n        }\n        else if (msg.payload === \"warning\") {\n            icon.className = \"flame-warning\";\n        }\n        else if (msg.payload === \"fire\") {\n            icon.className = \"flame-danger\";\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 220,
        "wires": [
            [
                "fb63486bc0e5996e"
            ]
        ]
    },
    {
        "id": "182fa70b141cb902",
        "type": "ui_template",
        "z": "05ce4787fe5d83e8",
        "group": "a232442e74cce007",
        "name": "template1",
        "order": 2,
        "width": 3,
        "height": 3,
        "format": "<div id=\"iconTemp\" class=\"ok\">🌡</div>\n\n<style>\n    #iconTemp {\n        font-size: 55px;\n        text-align: center;\n        transition: 0.3s;\n    }\n\n    #iconTemp.ok {\n        color: green;\n    }\n\n    #iconTemp.warn {\n        color: orange;\n        text-shadow: 0 0 10px orange;\n    }\n\n    #iconTemp.hot {\n        color: red;\n        animation: tempBlink 1s infinite;\n    }\n\n    @keyframes tempBlink {\n        0% {\n            color: red;\n        }\n\n        50% {\n            color: darkred;\n        }\n\n        100% {\n            color: red;\n        }\n    }\n</style>\n\n<script>\n    (function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg || !msg.payload) return;\n\n        let el = document.getElementById(\"iconTemp\");\n        let temp = msg.payload.temp;\n\n        // Ngưỡng nhiệt độ — chỉnh tùy ý\n        if (temp < 40) {\n            el.className = \"ok\";        // Bình thường\n        }\n        else if (temp >= 40 && temp < 60) {\n            el.className = \"warn\";      // Cảnh báo nóng\n        }\n        else {\n            el.className = \"hot\";       // Nguy hiểm\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 160,
        "wires": [
            [
                "238d296c5b9a7af0"
            ]
        ]
    },
    {
        "id": "9d512711cbd07abc",
        "type": "ui_template",
        "z": "05ce4787fe5d83e8",
        "group": "a232442e74cce007",
        "name": "template3",
        "order": 4,
        "width": 3,
        "height": 3,
        "format": "<style>\n    #humidity-container {\n        display: flex;\n        justify-content: center;\n        margin-top: 10px;\n    }\n\n    .hum-icon {\n        width: 60px;\n        height: 60px;\n        position: relative;\n    }\n\n    .hum-icon svg {\n        width: 100%;\n        height: 100%;\n        transition: 0.3s ease;\n    }\n\n    .alarm {\n        animation: blink 1s infinite;\n    }\n\n    @keyframes blink {\n        0% {\n            opacity: 1;\n        }\n\n        50% {\n            opacity: 0.4;\n        }\n\n        100% {\n            opacity: 1;\n        }\n    }\n</style>\n\n<div id=\"humidity-container\">\n    <div class=\"hum-icon\">\n        <svg id=\"humidityIcon\" viewBox=\"0 0 24 24\">\n            <path d=\"M12 2C12 2 6 9 6 13.5C6 17.09 8.91 20 12.5 20C16.09 20 19 17.09 19 13.5C19 9 12 2 12 2Z\" />\n        </svg>\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n\n        let icon = document.getElementById(\"humidityIcon\");\n\n        if (msg.payload.alarm === true) {\n            icon.style.fill = \"#E53935\";   // 🔴 chuyển đỏ khi cảnh báo\n            icon.classList.add(\"alarm\");   // ✨ nhấp nháy\n        } \n        else {\n            icon.style.fill = \"#03A9F4\";   // 🔵 bình thường\n            icon.classList.remove(\"alarm\");\n        }\n    });\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 340,
        "wires": [
            [
                "4bdb9b8e83fe61a6"
            ]
        ]
    },
    {
        "id": "9816415752ff08fc",
        "type": "ui_template",
        "z": "05ce4787fe5d83e8",
        "group": "a232442e74cce007",
        "name": "",
        "order": 10,
        "width": 3,
        "height": 3,
        "format": "<div id=\"iconGas\" class=\"ok\">💨</div>\n\n<style>\n    #iconGas {\n        font-size: 55px;\n        text-align: center;\n        transition: 0.3s;\n    }\n\n    /* Mức bình thường */\n    #iconGas.ok {\n        color: #2ecc71;\n        /* xanh lá */\n        text-shadow: none;\n    }\n\n    /* Mức cảnh báo nhẹ */\n    #iconGas.warn {\n        color: #f39c12;\n        /* cam */\n        text-shadow: 0 0 10px #f39c12;\n    }\n\n    /* Mức nguy hiểm */\n    #iconGas.danger {\n        color: #e74c3c;\n        /* đỏ */\n        text-shadow: 0 0 15px #e74c3c;\n        animation: gasBlink 1s infinite;\n    }\n\n    @keyframes gasBlink {\n        0% {\n            color: #e74c3c;\n        }\n\n        50% {\n            color: darkred;\n        }\n\n        100% {\n            color: #e74c3c;\n        }\n    }\n</style>\n\n<script>\n    (function(scope){\n    scope.$watch('msg', function(msg){\n        if (!msg || !msg.payload) return;\n\n        let gas = msg.payload.gas;  // giá trị MQ2 ADC\n        let el = document.getElementById(\"iconGas\");\n\n        if (gas < 1000) {\n            el.className = \"ok\";       // An toàn\n        } \n        else if (gas < 2500) {\n            el.className = \"warn\";     // Cảnh báo nhẹ\n        } \n        else {\n            el.className = \"danger\";   // Nguy hiểm\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "949450cb1b3ae3f4"
            ]
        ]
    }
]